@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --catalina: #06327d;
    --bluetiful: #2b70e4;
    --vegan: #209d5c;
    --sunglow: #ffd034;
    --lightblue: #cadbf8;
    --monty: "Montserrat";
    --weight: 300;
    --height: 1.1667;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
header {
  text-align: center;
  color: var(--white);
 background-color: var(--catalina);
  border-bottom: 10px solid var(--sunglow);
  display: flex;
   justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
  padding: 1rem;
}

.logoside {
    display: flex;
     flex-flow: row wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
nav a {
  display: block;
  color: var(--white);
  text-decoration: none;
}
nav a:hover {
  color: var(--lightblue);
}
body {
  color: black;
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: var(--monty);
}

.container {
    margin: 0 auto;
    padding: 1rem;
   max-width: 1200px;
}

h1, h2, h3 {
    font-weight: var(--weight);
    line-height: var(--height);
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0 auto;
  text-align: center;
  background-color: var(--catalina);
  color: var(--white);
  font-size: 1.1rem;
  border: 3px solid;
  border-radius: 10px;
  text-transform: uppercase;
  display: inline-block;
}


@media (min-width: 650px) {
  header {
    justify-content: center;
  }
  nav ul{
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  header {
    justify-content: space-between;
  }
  nav ul{
    justify-content: space-between;
  }
}